In [120]:
'kumar*' * 3

'kumar*kumar*kumar*'

In [122]:
'kumar' + ' akk'

'kumar akk'

In [124]:
'kumar ' + '3'

'kumar 3'

In [147]:
for i in range(1,11):
    print('k'*i)

k
kk
kkk
kkkk
kkkkk
kkkkkk
kkkkkkk
kkkkkkkk
kkkkkkkkk
kkkkkkkkkk

In [156]:
name = 'kumar  '
print('Length of name : ' + str(len(name)))

Length of name : 7

In [25]:
name = 'kumara'
print(name.find('a'))
print(name.find('L'))
print(name.find('maz'))
print(name.find('mar'))
print(name.find('a',4))
print(name.find('A',4))
print(name.isalnum())

3
-1
-1
2
5
-1
True

In [33]:
name = 'kumara simple split'
print(name.count('a'))
print(name.count('A'))
print(name.count('m'))
print(name.split(sep=' '))
print(name.split())
print(type(name.split()))

2
0
2
['kumara', 'simple', 'split']
['kumara', 'simple', 'split']
<class 'list'>

In [40]:
name = 'kumara simple split'
l = name.split()
print(l)
print(l[2])
print(l[0:2])
print(l[0:2:-1])
print(l[-1::])

['kumara', 'simple', 'split']
split
['kumara', 'simple']
[]
['split']

In [44]:
name = 'kuemarna simpnale splnaiet'
l = name.split('e')
print(l)
l = name.split('na')
print(l)

['ku', 'marna simpnal', ' splnai', 't']
['kuemar', ' simp', 'le spl', 'iet']

In [52]:
name = 'kuemarna Simpnale splnaieT'
print(name.upper())
print(name.lower())
print(name.swapcase())
print(name.title())
print(name.capitalize())

KUEMARNA SIMPNALE SPLNAIET
kuemarna simpnale splnaiet
KUEMARNA sIMPNALE SPLNAIEt
Kuemarna Simpnale Splnaiet
Kuemarna simpnale splnaiet

In [2]:
fname = 'kranthi'
lname = 'kumar'
print('*'.join(lname))
print('*+'.join(lname))
fname.join(lname)

k*u*m*a*r
k*+u*+m*+a*+r

'kkranthiukranthimkranthiakranthir'

In [8]:
name = 'kumar'
reversed(name)

TypeError: 'int' object is not reversible

In [6]:
for i in reversed(name):
    print(i)

r
a
m
u
k

In [7]:
name[::-1]

'ramuk'

In [21]:
name = 'kumar '
name

'kumar '

In [22]:
name = 'kumar '
name.rstrip()

'kumar'

In [28]:
name.strip('m')

'kumar'

In [30]:
name.strip('r')

'kuma'

In [17]:
name = 'kumar'
name.replace('u','xyz')

'kxyzmar'

In [18]:
name.replace('u','')

'kmar'

In [23]:
name = 'kranthi\tkumar\takula'
name.expandtabs()

'kranthi kumar   akula'

In [24]:
name = 'kumar'
name.center(20,'*')

'*******kumar********'

In [31]:
name.isupper()

False

In [32]:
name.islower()

True

In [33]:
name = 'Kumar'
name.islower()

False

In [34]:
name.isupper()

False

In [35]:
name = 'kranthi kumar'
name.isspace()

False

In [36]:
name = '  '
name.isspace()

True

In [38]:
name = 'kk11'
name.isdigit()

False

In [39]:
name = '111'
name.isdigit()

True

In [40]:
name = 'kumar'
name.endswith('r')

True

In [41]:
name.endswith('a')

False

In [42]:
name.startswith('k')

True

In [43]:
name.istitle()

False

In [44]:
name = 'Kumar'
name.istitle()

True

In [45]:
name.encode()

b'Kumar'