In [ ]:
# for loop - use when we know how many times we need to execute
# increment is automatic - iter and next funtion are inbuilt by default

# enumerate - to get both the subscript and its value in a tuple

# range(x,y)

# for ... else...

# Break, continue, pass

In [8]:
l = [1,2,3,4,5,6,7,8]
for i in l:
    print(i)

1
2
3
4
5
6
7
8

In [9]:
for i in 'akk':
    print(i)

a
k
k

In [10]:
name = 'akk'
for i in name:
    print(i)

a
k
k

In [25]:
t = (1,2,3,4,5,'akk')
for i in t:
    print(i)

1
2
3
4
5
akk

2

In [23]:
s = {1,2,3,4,5}
for i in s:
    print(i)

1
2
3
4
5

In [21]:
d = {'name':'akk','phone':9448974842}
for i in d:
    print(i)

name
phone

In [31]:
l = [1,2.1,'sudh',1+2j,{1,2},(1,2),[1,2],{1:2}]
for i in l:
    print('Value in the list is ', i, ' -------- > Type of the value ',type(i))

Value in the list is  1  -------- > Type of the value  <class 'int'>
Value in the list is  2.1  -------- > Type of the value  <class 'float'>
Value in the list is  sudh  -------- > Type of the value  <class 'str'>
Value in the list is  (1+2j)  -------- > Type of the value  <class 'complex'>
Value in the list is  {1, 2}  -------- > Type of the value  <class 'set'>
Value in the list is  (1, 2)  -------- > Type of the value  <class 'tuple'>
Value in the list is  [1, 2]  -------- > Type of the value  <class 'list'>
Value in the list is  {1: 2}  -------- > Type of the value  <class 'dict'>

In [33]:
# Add 2 to each element in the list
l = [1,2,3,4,5,6]
for i in l:
    print('Add 2 to ',i,' the resultant is ' ,i+2)

Add 2 to  1  the resultant is  3
Add 2 to  2  the resultant is  4
Add 2 to  3  the resultant is  5
Add 2 to  4  the resultant is  6
Add 2 to  5  the resultant is  7
Add 2 to  6  the resultant is  8

In [37]:
# Add 2 to each element and return a list
l = [1,2,3,4,5,6]
print('List before adding 2 ',l)
l1 = []
for i in l:
    l1.append(i+2)
print('List after adding 2 ', l1)

List before adding 2  [1, 2, 3, 4, 5, 6]
List after adding 2  [3, 4, 5, 6, 7, 8]

In [55]:
# Filter out different data types
l = [2,'akk',11,1+2j,2.1,9,'kk',[1,2,'kk']]
for i in l:
    if type(i) == int:
        print('Integer values are : ',i)
    elif type(i) == float:
        print('Float values are : ',i)
    elif type(i) == str:
        print('String values are : ',i)
    elif type(i) == complex:
        print('Complex values are ',i)
    elif type(i) == list:
        print('List values are ',i)
    else:
        print('new data type')

Integer values are :  2
String values are :  akk
Integer values are :  11
Complex values are  (1+2j)
Float values are :  2.1
Integer values are :  9
String values are :  kk
List values are  [1, 2, 'kk']

In [54]:
# Make a list of only integers
l = [2,'akk',11,1+2j,2.1,9,'kk',[1,2,'kk']]
l2 = []
for i in l:
    if type(i) == int:
        l2.append(i)
print('List of integers are ',l2)

List of integers are  [2, 11, 9]

In [59]:
# Print integer values from list only
l = [2,'akk',11,1+2j,2.1,9,'kk',[1,2,'kk']]
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == int:
                print(j)

1
2

In [62]:
for i in range(1,3):
    print(i)

1
2

In [1]:
# Print index of all the elements
# Extract all the characters if the element is string
# Create a list after doing square of all the integer elements

l = [2,45,78,2,'sudh',6+7j,[56,67,78,'dsfdsf'],12]
square_list = []
for i in l:
    print('Index of value ',i,' is ',l.index(i))
    if type(i) == str:
        print('String value is *',i, '* individual characters are ')
        for j in i:
            print(j)
    elif type(i) == int:
        square_list.append(i*i)
print('List after doing square of all the integer elements ',square_list)

Index of value  2  is  0
Index of value  45  is  1
Index of value  78  is  2
Index of value  2  is  0
Index of value  sudh  is  4
String value is * sudh * individual characters are
s
u
d
h
Index of value  (6+7j)  is  5
Index of value  [56, 67, 78, 'dsfdsf']  is  6
Index of value  12  is  7
List after doing square of all the integer elements  [4, 2025, 6084, 4, 144]

In [37]:
# Print index of all the elements - do not use index method as it returns only the first value index in case of duplicates.
# Extract all the characters if the element is string
# Create a list after doing square of all the integer elements

listt = [2,45,78,2,'sudh',6+7j,[56,67,78,'dsfdsf'],12]
int_list = []
sq_list = []
indexx = 0
for element in listt:
    print('Index of element ',element, ' is ',indexx)
    indexx = indexx + 1
    if type(element) == str:
        print('Each character in the string ',element,' are :')
        for char in element:
            print(char)
    elif type(element) == int:
        int_list.append(element)
#        sq_list.append(element*element)
        sq_list.append(element**2)
print('All the integers are ',int_list)
print('Square of all the integers are ',sq_list)

Index of element  2  is  0
Index of element  45  is  1
Index of element  78  is  2
Index of element  2  is  3
Index of element  sudh  is  4
Each character in the string  sudh  are :
s
u
d
h
Index of element  (6+7j)  is  5
Index of element  [56, 67, 78, 'dsfdsf']  is  6
Index of element  12  is  7
All the integers are  [2, 45, 78, 2, 12]
Square of all the integers are  [4, 2025, 6084, 4, 144]

In [25]:
# Print index of all the elements - do not use index method as it returns only the first value index in case of duplicates.
# Extract all the characters if the element is string
# Create a list after doing square of all the integer elements
# Use range funcion

listt = [2,45,78,2,'sudh',6+7j,[56,67,78,'dsfdsf'],12]
int_list = []
sq_list = []
indexx = 0

#for i in range(0,len(listt)):
# or
for i in range(len(listt)):
    print('Index of ',listt[i],' is :',i)
    if type(listt[i]) == str:
        for j in listt[i]:
            print(j)
    elif type(listt[i]) == int:
        sq_list.append(listt[i]*listt[i])
print(sq_list)

Index of  2  is : 0
Index of  45  is : 1
Index of  78  is : 2
Index of  2  is : 3
Index of  sudh  is : 4
s
u
d
h
Index of  (6+7j)  is : 5
Index of  [56, 67, 78, 'dsfdsf']  is : 6
Index of  12  is : 7
[4, 2025, 6084, 4, 144]

In [18]:
range(99)

range(0, 99)

In [33]:
for i in range(3):
    print(i)

0
1
2

In [34]:
for i in range(1,3):
    print(i)

1
2

In [31]:
list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [30]:
list(range(1,20,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [29]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [32]:
list(range(3,20,-1))

[]

In [33]:
list(range(20,6,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7]

In [34]:
list(range(20,-5,-2))

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0, -2, -4]

In [35]:
for i in range(20,-5,-2):
    print(i)

20
18
16
14
12
10
8
6
4
2
0
-2
-4

In [27]:
list(range(3))

[0, 1, 2]

In [36]:
listt = [2,45,78,2,'sudh',6+7j,[56,67,78,'dsfdsf'],12]
for i in enumerate(listt):
    print(i)
    print(i[0])
    print(i[1])
for i,j in enumerate(listt):
    print(i)
    print(j)

(0, 2)
0
2
(1, 45)
1
45
(2, 78)
2
78
(3, 2)
3
2
(4, 'sudh')
4
sudh
(5, (6+7j))
5
(6+7j)
(6, [56, 67, 78, 'dsfdsf'])
6
[56, 67, 78, 'dsfdsf']
(7, 12)
7
12
0
2
1
45
2
78
3
2
4
sudh
5
(6+7j)
6
[56, 67, 78, 'dsfdsf']
7
12

In [41]:
2**3

8

In [1]:
25**2

625

In [5]:
l = ['name','email','phone','address',2]
for i in l:
    print(i,'simply')
    print(i + 'simply')

name simply
namesimply
email simply
emailsimply
phone simply
phonesimply
address simply
addresssimply
2 simply

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
# break
l = ['name','email','phone',1,'address']
for i in l:
    if (type(i) == int) or (i == 'phone'):
        break
        print(i)
    print(i)

name
email

In [19]:
# continue
l = ['name','email','phone',1,'address']
for i in l:
    if (type(i) == int) or (i == 'phone'):
        continue
        print(i)
    print(i)

name
email
address

In [20]:
# pass
l = ['name','email','phone',1,'address']
for i in l:
    if (type(i) == int) or (i == 'phone'):
        pass
        print(i)
    print(i)

name
email
phone
phone
1
1
address

In [24]:
# for... else...
for i in l:
    print(i)
else:
    print('all the items in the for loop are processed')

name
email
phone
1
address
all the items in the for loop are processed

In [25]:
# for... else...
for i in l:
    if (type(i) == int):
        break
    print(i)
else:
    print('all the items in the for loop are completely processed')

name
email
phone